@import "/styles/mixins.scss";

@mixin navmenu($left) {
  @include flex(column, center, center, no-wrap, 3rem);
  @include size(100%, calc(100% - 85px));

  list-style-type: none;
  background: var(--nav-toggle);
  position: fixed;
  padding: 2rem 0;
  left: $left;
  top: 85px;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.header {
  @include size(100%, 85px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 998;
  background-color: var(--header);
  transition: all 0.2s ease;
}

.header_ontop {
  background-color: var(--header-top);
}

.header_ondown {
  background-color: var(--header-down);
}

.toggle {
  display: none;
}

.nav {
  @include flex(row, space-between, center, no-wrap);
  font-size: 2rem;
  letter-spacing: 0.15rem;
  height: 100%;

  a {
    text: {
      transform: uppercase;
    }
    font: {
      size: 1.8rem;
    }
    transition: all 0.3s ease;
    position: relative;
    color: white;
    letter-spacing: 0.2rem;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.nav_menu {
  display: flex;
  list-style-type: none;
  column-gap: 40px;
}

.nav_toggle {
  display: none;
  border: none;
  background: none;
  font-size: 3.5rem;
  cursor: pointer;
  padding: 0;
  color: white;

  svg {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .toggle {
    display: block;
  }
  .nav_toggle {
    display: block;
  }

  .nav_menu {
    @include navmenu(100%);
  }

  .nav_visible {
    @include navmenu(0);
  }

  .nav {
    flex-direction: row-reverse;
    a {
      font-size: 2.4rem;
    }
  }

  .div_toggle {
    display: none;
  }

  .block-scroll {
    overflow: hidden;
  }
}

// Para el tema
.tema {
  display: flex;
  align-items: center;

  .active {
    background: orange;
    color: #000;
    transition: all 0.5s ease;

    &::after {
      left: unset;
      right: 0;
    }
  }
}

.switch {
  background: #13203e;
  border-radius: 1000px;
  border: none;
  position: relative;
  outline: 0;
  display: flex;
  width: 80px;
  transition: all 0.3s ease;

  span {
    width: 40px;
    height: 35px;
    line-height: 38px;
    display: block;
    background: 0 0;
    color: #fff;
  }

  &::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: all 0.4s ease;
    box-shadow: 0 0 2px 2px rgb(31 30 30 / 24%);
  }
}

.div_toggle {
  display: none;
}
