@import "/styles/mixins.scss";

#inicio {
  min-height: 100vh;
  padding-top: 85px;
  background-color: var(--hero);
  transition: background-color 0.3s ease;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
}

// Centro mi nombre
// #inicio div:nth-child(1) {
//   flex: 1;
//   justify-content: center;
// }

.titulo {
  font-size: clamp(2rem, 12vw, 7rem);
  color: white;

  .titulo_content {
    display: block;
    opacity: 0;
    animation: revealText 0.5s forwards;
    animation-delay: 0.5s;
  }
  .titulo_segundo {
    animation-delay: 0.7s;
  }

  .titulo_tercero {
    animation-delay: 0.9s;
    color: red;
    font-weight: 500;
  }
}

@keyframes revealText {
  from {
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.scroll_down {
  @include size(100%, 100px);

  .wrapper {
    height: 100%;
    @include flex(column, flex-end);

    span {
      @include size(20px, 20px);
      border-bottom: 5px solid red;
      border-right: 5px solid red;
      transform: rotate(45deg);
      animation: animate 2s infinite;
      animation-delay: 1.9s;

      &:nth-child(2) {
        animation-delay: 1.7s;
      }

      &:nth-child(3) {
        animation-delay: 1.5s;
      }
    }
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

// Esto es para el lenguaje

.langdiv {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.lang_btn {
  border: none;
  background: none;
  opacity: 1;
  transition: opacity 1s ease;
}

.lang_btn span {
  cursor: pointer;
}

.lang_btn:nth-child(1) {
  padding-right: 40px;
}

.lang_selected {
  opacity: 0.4;
  transition: opacity 1s ease;
  pointer-events: none;
}
